/*_variables.scss*/

/*colors*/
$link: #EA328C;
$linkHover: #FDEF39;
$linkHoverBG: #000000;
$info:#a3a3a3;
$backgroundOne: #ffffff;
$backgroundTwo: #eeeeee;
$backgroundThree:#cccccc;
$backgroundFour:#000000;

/*mixins*/
@mixin reset 
{
	margin: 0;
	padding: 0;
	border: 0 transparent;
}

@mixin links
{
	color: $link;
	text-decoration: none;
	text-transform: uppercase;
	@include transition;
	&:hover{
		color: $linkHover;
		background-color: $linkHoverBG;
		text-decoration: none;
	}
}
@mixin transition($transition-property:all, $transition-time: .3s, $method: ease) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
