/*_crisisStyle.scss*/

@import '_variables';

/*index*/
	/*global*/
	/*main nav*/
	/*main content*/
	/*sidebar*/
	/*instagram*/
	/*footer*/



/*global*/

a{
	@include links;
	[class^="icon-"], [class*=" icon-"]{
		color: #444444;
		@include transition;
	}
	&:hover [class^="icon-"], &:hover [class*=" icon-"]
	{
		color:$linkHover;
	}
}

/*body.custom-background{
	background-color: #232323 !important;
}*/


body.custom-background-empty .site, body.custom-background-white .site{
	margin-top: 0;
	background-color: $backgroundOne ;
}
.site-header{
	border: none;
}
.themonic-logo{
	margin: 0;
	padding: 0;
	margin-bottom: -2px;
}
.themonic-logo img{
	width: 1040px;
}
.themonic-nav {
box-shadow: none;
}

.site-content{
	padding-top: 0;
	border-right:5px solid $backgroundFour;
	article{
		border-bottom: 2px solid $backgroundFour;
		&:last-child{
			border-bottom:0;
		}
	}
}


/*main nav*/
.js .selectnav{
	display: none;
}

@media screen and (max-width: 767px){
	#menu-top{
		display: none;
	}
	.themonic-nav ul{
		display: block;
		li:hover{
			display:block;
		}
	}

	.themonic-nav ul.nav-menu, .themonic-nav div.nav-menu > ul, .themonic-nav li, .themonic-nav li a, .themonic-nav li {
		display: block;
		background: $backgroundFour;

	}

	.themonic-nav li a, .themonic-nav li a{
		padding: 10px;
		text-align: left;
	}

	.sub-menu 
	{
		li a{
			padding-left: 30px;
		}
	}
	.site-content{
		border-right: 0;
	}
	.entry-header h1.entry-title{
		font-size: 20px;
		line-height: 2.181818182;
		border-bottom: 2px solid black;
		padding-bottom: 20px;
		margin-top: 0;
	}
}
@media screen and (min-width: 768px){
	body .site {
		padding: 0;
	}
	#menuToggleUl{
		display: none;
	}
	.themonic-nav ul.nav-menu, .themonic-nav div.nav-menu > ul, .themonic-nav li{display: inline-block;}
	.themonic-nav ul.nav-menu, .themonic-nav div.nav-menu > ul {
	background: $backgroundFour;
	border: none;
	}
	.themonic-nav li{
		font-size: 16px;
		font-weight: bold;
	}
	.themonic-nav li a{
		@include links
	}
	.themonic-nav .current-menu-item > a, .themonic-nav .current-menu-ancestor > a, 
	.themonic-nav .current_page_item > a, .themonic-nav .current_page_ancestor > a,
	.themonic-nav li:hover {
		background: $backgroundFour;
	}


	.themonic-nav ul li:hover > ul{
		border-top: 1px solid #ffffff;
		z-index: 200;
	}
	.themonic-nav li ul li a{
		@include links;
		background: $backgroundFour;
		border-bottom: 1px solid #ffffff;
		
	}
	.themonic-nav li ul li:last-child a{
		border-bottom: 0;
	}

	.entry-header h1.entry-title{
		font-size: 20px;
		line-height: 2.181818182;
		border-bottom: 2px solid black;
		padding-bottom: 20px;
	}
}

/*main content*/
.wrapper{
	border: none;
}

.archive-header, .page-header
{
	border-bottom: 2px solid $backgroundFour;
}
.archive-title, .page-title, h1.entry-title
{
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	color: #444;
}


.entry-header .entry-title a:hover{
	color: yellow;
	background: $backgroundFour;
}

.site-wordpress {
padding: 50px 0px;
float: none;
text-align: center;
}



.below-title-meta{
	background: transparent;
	width: 100%;
	margin: 0;
	a{
		color: $link;
		&:hover{
			color:$linkHover;
		}
	}
}

.adt{
	padding-left: 0;
	padding-bottom: 20px;
}
.categories a{
	font-weight: bold;
	margin-right: 5px;
}

.post-date{
	float: right;
	color: $info;
}

@media screen and (min-width: 600px){
	.excerpt-thumb{
		position: absolute;
	}
	.excerpt-article{
		margin-left: 200px;
		min-height: 200px;
	}
}

.excerpt-thumb  {
	img{	
		border: 5px solid $backgroundFour;
		@include transition;    
	}
	a:hover {
		background:transparent;
		img{
			border-color: $link;
		}
	}
	.tribe-events-event-image{
		img{
			width: 170px;
		}
		a:hover{
			img{
				width: 180px;
			}
		}
	}
}

/*sidebar*/

.widget-area{
	margin-top: 0;
	aside
	{
	border-bottom: 2px solid $backgroundFour;
		&:last-child
		{
			border-bottom:0;
		}
	}
}

ul.crisismedia, .widget-area .textwidget ul.crisismedia
{
	list-style: none;
	li{
		margin: 0;
		border-bottom: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
	}
}
.widget-area .widget-title{
	background: $backgroundFour;
	text-transform: uppercase;
	color: #ffffff;
}


.widget-area .widget li, .widget-area .widget .textwidget
{
	padding-top: 0;
	border-bottom: 0;
}
.widget-area .widget{
	a{
		@include links;
	}
}
.instatime
{
	color: $info;
}

.tribe-events-event-image a
{
	&:hover{
		background: transparent;
		.widget & {
			background: transparent;
		}
	}
}


/*footer*/
.site-wordpress{
	padding-top: 10px;
}
.footer_menu{
	border-top: 2px solid $backgroundFour;
	padding: 30px;
	margin: 0 20px;
}
.footer_menu li{
	display: inline;
	a{
		@include links;
		font-weight: bold;
		font-size: 14px;
		margin: 0 10px;
	}
	.sub-menu{
		display: none;
	}
}
.footer_menu li.current-menu-item {
	background: transparent;
}
