.tribe-events-page-title, .single-tribe_events h2.tribe-events-single-event-title
{
	text-transform: uppercase;
}

.tribe-events-list h2.tribe-events-page-title {
	margin-bottom: 0px;
	padding-bottom: 22px;
	font-size: 20px;
	font-weight: normal;

}
.tribe-events-list .tribe-events-event-image
{
	float: none;
	width: 100%;
	margin: 0;
}
.tribe-events-list .tribe-events-event-image img 
{
	width: 180px;
}
.tribe-events-list-separator-month{
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	padding: 0;
}
.tribe-events-list-separator-month:after{
	border-bottom: 2px solid #000000;
}
.tribe-events-list-separator-month span{
	padding: 0 15px 0 0;
}
.tribe-events-list .vevent.hentry
{
	border-bottom: 2px solid #000000;
}
.tribe-events-loop .vevent.tribe-events-last
{
	border-bottom: 0;
}
.tribe-events-list .vevent.hentry h2, .single-tribe_events h2.tribe-events-single-event-title
{
	font-size: 28px;
	font-weight: normal;

}
.tribe-events-list .vevent.hentry h2 a{
	color: #444444;
}
.tribe-events-list .vevent.hentry h2 a:hover{
	color: #FDEF39;
}

.single-tribe_events #tribe-events-footer, .tribe-events-day #tribe-events-footer, .events-list #tribe-events-footer, .tribe-events-map #tribe-events-footer, .tribe-events-photo #tribe-events-footer
{
	border-top: 0;
}
.tribe-events-list-widget ol li
{
	margin-bottom: 10px;
}