.tribe-events-page-title, .single-tribe_events h2.tribe-events-single-event-title
{
	text-transform: uppercase;
}

.tribe-events-list-separator-month{
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	padding: 0;
}
.tribe-events-list-separator-month span{
	padding: 0 15px 0 0;
}
.tribe-events-list .vevent.hentry
{
	border-bottom: 1px solid #dddddd;
}
.tribe-events-loop .vevent.tribe-events-last
{
	border-bottom: 0;
}
.tribe-events-list .vevent.hentry h2
{
	font-size: 28px;
	font-weight: normal;

}
.tribe-events-list .vevent.hentry h2 a{
	color: #444444;
}
.tribe-events-list .vevent.hentry h2 a:hover{
	color: #FDEF39;
}